{% extends "templates/common/nginx/nginx.j2" %}

{% block specific %}

    upstream front-end.marlinspike {
        {% for host in groups['front-end'] %}
        server {{ hostvars[host]['inventory_hostname'] }};
        {% endfor %}
    }

    upstream wintergarten.marlinspike {
        {% for host in groups['wintergarten'] %}
        server {{ hostvars[host]['inventory_hostname'] }}:5000;
        {% endfor %}
    }

{% endblock %}
