server {
    listen          80;
    server_name     www.rhokthehood.com rhokthehood.com;

    return          301 https://rhokthehood.com$request_uri;
}

server {
    listen                  443 ssl;
    server_name             rhokthehood.com;

    ssl_certificate         /etc/nginx/ssl/com.rhokthehood.www.crt;
    ssl_certificate_key     /etc/nginx/ssl/com.rhokthehood.www.key;

    location / {
        proxy_pass         http://front-end.marlinspike;
        proxy_set_header   Host                         $host;
        proxy_set_header   X-Real-IP                    $remote_addr;
        proxy_set_header   X-Forwarded-For              $proxy_add_x_forwarded_for;
    }
}
