{
    "web": {
        "address": "127.0.0.1:{{port}}"
    },
    "cache": {
        "ttl": {{cache_ttl}},
        "address": "{{cache_address}}",
        "enabled": {{cache_enabled}}
    },
    "tmdb": {
        "api_key": "{{tmdb_api_key}}"
    }
}
