server {

    listen   		80;
    server_name		www.citruspi.io citruspi.io www.citruspi.com citruspi.com;

    return 301 		https://citruspi.io$request_uri;

}

server {

    listen    			443 ssl;
    server_name 		citruspi.io;

    ssl_certificate		/etc/nginx/ssl/io.citruspi.www.crt;
    ssl_certificate_key		/etc/nginx/ssl/io.citruspi.www.key;

    location / {

	proxy_pass 	   http://static.citruspi;
        proxy_set_header   Host				$host;
        proxy_set_header   X-Real-IP        		$remote_addr;
        proxy_set_header   X-Forwarded-For  		$proxy_add_x_forwarded_for;

    }

}

server {

    listen          80;
    server_name     reactirc.citruspi.io;

    location / {

        proxy_pass         http://static.citruspi;
        proxy_set_header   Host                         $host;
        proxy_set_header   X-Real-IP                    $remote_addr;
        proxy_set_header   X-Forwarded-For              $proxy_add_x_forwarded_for;

    }


}

server {

    listen         80;
    server_name    spotify-notifications.citruspi.io;

    location / {

	proxy_pass         http://static.citruspi;
	proxy_set_header   Host				$host;
        proxy_set_header   X-Real-IP        		$remote_addr;
        proxy_set_header   X-Forwarded-For  		$proxy_add_x_forwarded_for;

    }

}

server {

    listen          80;
    server_name     api.wintergarten.citruspi.io;

    location / {

        proxy_pass         http://app.citruspi;
        proxy_set_header   Host                         $host;
        proxy_set_header   X-Real-IP                    $remote_addr;
        proxy_set_header   X-Forwarded-For              $proxy_add_x_forwarded_for;

        add_header Access-Control-Allow-Origin *;

    }


}

server {

    listen 80;
    server_name karouseldocs.citruspi.io;

    location / {
        proxy_pass          http://static.citruspi;
        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
