{% extends "templates/common/nginx/nginx.j2" %}

{% block specific %}

    upstream static.citruspi {
        {% for host in groups['static'] %}
        server {{ hostvars[host]['ansible_ssh_host'] }};
        {% endfor %}
    }

    upstream app.citruspi {
        {% for host in groups['app'] %}
        server {{ hostvars[host]['ansible_ssh_host'] }};
        {% endfor %}
    }

{% endblock %}
