server {
    listen      80;
    server_name *.rit.sex rit.sex;

    root       /srv/rit.sex/www;
    add_header X-Endpoint "front-end-01.marlinspike.io";

    location / {
        index index.html;
    }
}
