{
    "web": {
        "address": "{{wintergarten_address}}"
    },
    "cache": {
        "ttl": {{wintergarten_cache_ttl}},
        "address": "{{wintergarten_cache_address}}",
        "enabled": {{wintergarten_cache_enabled}}
    },
    "tmdb": {
        "api_key": "{{tmdb_api_key}}"
    }
}
